:root {
	--ion-color-primary: #6F4E37;
	--ion-color-primary-rgb: 111,78,55;
	--ion-color-primary-contrast: #FFFFFF;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #624530;
	--ion-color-primary-tint: #7D604B;
	--ion-color-secondary: A76A0D;
	--ion-color-secondary-rgb: 167,106,13;
	--ion-color-secondary-contrast: #FFFFFF;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #935D0B;
	--ion-color-secondary-tint: #B07925;
	--ion-color-tertiary: 3A2412;
	--ion-color-tertiary-rgb: 58,36,18;
	--ion-color-tertiary-contrast: #FFFFFF;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #332010;
	--ion-color-tertiary-tint: #4E3A2A;
	--ion-color-success: 4C6937;
	--ion-color-success-rgb: 76,105,55;
	--ion-color-success-contrast: #FFFFFF;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #435C30;
	--ion-color-success-tint: #5E784B;
	--ion-color-warning: #FFC409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #E0AC08;
	--ion-color-warning-tint: #FFCA22;
	--ion-color-danger: #EB445A;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #FFFFFF;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #CF3C4F;
	--ion-color-danger-tint: #ED576B;
	--ion-color-medium: #92949C;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9D9FA6;
	--ion-color-light: #F4F5F8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #D7D8DA;
	--ion-color-light-tint: #F5F6F9;
}